<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/stylesForm.css">
    <title>Registro de Datos</title>
</head>
<body>
    <div class="header-container">
        <div class="title-box">
            <h1>REGISTRO DE DATOS</h1>
        </div>
    </div>
    <div class="container">
        <div class="data-container">
            <form class="data-form">
                <h2> Información personal: <textarea class="info-input" id="Info_personal" placeholder="Ingrese la información personal" required></textarea></h2>  
            </form>
            
            <form class="data-form">
                <h2>Historial médico: <textarea class="info-input" id="Historia_medico" placeholder="Ingresa el Historial Medico " required></textarea></h2>  
            </form>

            <form class="data-form">
                <h2> Información de contacto: <textarea class="info-input" id="Info_Contacto" placeholder="Ingrese la información personal" required></textarea></h2>  
            </form>

            <form class="data-form">
                <h2> Diagnosticos: <textarea class="info-input" id="Diagnosticos" placeholder="Ingrese los Diagnosticos" required></textarea></h2>  
            </form>
            <form class="data-form">
                <h2> Tratamientos: <textarea class="info-input" id="Tratamientos" placeholder="Ingrese los Tratamientos"required ></textarea></h2>  
            </form>
            <form class="data-form">
                <h2> Medicos Tratantes: <textarea class="info-input" id="Medicos" placeholder="Ingrese los Medicos Tratantes:"required ></textarea></h2>  
            </form>
            <form class="data-form">
                <h2> Medicamentos: <textarea class="info-input" id="Medicamentos" placeholder="Ingrese el/los Medicamentos:"required></textarea></h2>  
            </form>
            <form class="data-form">
                <h2> Datos Vitales: <textarea class="info-input" id="Datos_v" placeholder="Ingrese los Datos Vitales:"required></textarea></h2>  
            </form>
            <form class="data-form">
                <h2> Datos Socioeconómicos: <textarea class="info-input" id="Datos_ss" placeholder="Datos Socioeconómicos:"required></textarea></h2>  
            </form>

        </div>
        <button id="guardar-btn">Guardar</button>
    </div>
    <script src="JS/scriptGuardar.js"></script>
</body>
</html>
