<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de Registros</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f4;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            margin-top: 2rem;
        }

        .table {
            margin-top: 20px;
        }

        .table-hover tbody tr:hover {
            background-color: #f0f0f0;
        }

        .thead-dark th {
            background-color: #004085;
            color: white;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        /* Mejoras en los botones */
        .btn-outline-primary {
            border-color: #007bff;
            color: #007bff;
        }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: white;
        }

        /* Responsive table */
        @media (max-width: 768px) {
            .table-responsive {
                overflow-x: auto;
            }
        }

    </style>
    <!--- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Registros de Prescripciones Médicas</h2>
            </div>
            <div class="card-body">
                <!-- Botón de volver atrás -->
                <div class="mb-3">
                    <a href="{{ url_for('DashboardMedico') }}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left"></i> Atrás
                    </a>
                </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>IdPrescripcion</th>
                        <th>Nombre del Doctor</th>
                        <th>Correo Electrónico</th>
                        <th>Lugar de Prescripción</th>
                        <th>Fecha de Prescripción</th>
                        <th>Nombre del Paciente</th>
                        <th>Cédula del Paciente</th>
                        <th>N° Historia Clínica</th>
                        <th>Tipo de Usuario</th>
                        <th>Forma Farmacéutica</th>
                        <th>Dosis Diaria</th>
                        <th>Duración del Tratamiento</th>
                        <th>Cantidad Total</th>
                        <th>Usado</th>
                        <th>Codigo NFT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescripciones in prescripciones %}
                        <tr>
                                <td>{{ prescripciones[0] }}</td>
                                <td>{{ prescripciones[5] }}</td>
                                <td>{{ prescripciones[6] }}</td>
                                <td>{{ prescripciones[7] }}</td>
                                <td>{{ prescripciones[8] }}</td>
                                <td>{{ prescripciones[9] }}</td>
                                <td>{{ prescripciones[10] }}</td>
                                <td>{{ prescripciones[11] }}</td>
                                <td>{{ prescripciones[12] }}</td>
                                <td>{{ prescripciones[4] }}</td>
                                <td>{{ prescripciones[13] }}</td>
                                <td>{{ prescripciones[14] }}</td>
                                <td>{{ prescripciones[15] }}</td>
                                <td>{{ prescripciones[16] }}</td>

                                <td>
                                    <form action="{{ url_for('generate_pdf') }}" method="post">
                                        <!-- Incluir todos los campos necesarios como campos ocultos -->
                                        <input type="hidden" name="id_prescripcion" value="{{ prescripciones[0] }}">
                                        <input type="hidden" name="nombre_doc" value="{{ prescripciones[5] }}">
                                        <input type="hidden" name="correo_doc" value="{{ prescripciones[6] }}">
                                        <input type="hidden" name="Lugar_Pres" value="{{ prescripciones[7] }}">
                                        <input type="hidden" name="Fecha_Pres" value="{{ prescripciones[8] }}">
                                        <input type="hidden" name="nombre_paciente" value="{{ prescripciones[9] }}">
                                        <input type="hidden" name="cedula_paciente" value="{{ prescripciones[10] }}">
                                        <input type="hidden" name="numero_hc" value="{{ prescripciones[11] }}">
                                        <input type="hidden" name="tipo_usuario" value="{{ prescripciones[12] }}">
                                        <input type="hidden" name="forma_farmaceutica" value="{{ prescripciones[13] }}">
                                        <input type="hidden" name="dosis_diaria" value="{{ prescripciones[14] }}">
                                        <input type="hidden" name="duracion_tratamiento" value="{{ prescripciones[15] }}">
                                        <input type="hidden" name="cantidad_total" value="{{ prescripciones[16] }}">
                                        <input type="hidden" name="diagnostico" value="{{ prescripciones[17] }}">
                                        <!-- ... otros campos ... -->
                                        <button type="button" class="btn btn-primary" onclick="generarPDF(this.form)">Generar NFT</button>
                                    </form>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>     
            </table>
        </div>
    </div>

    <div class="modal fade" id="nftModal" tabindex="-1" role="dialog" aria-labelledby="nftModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nftModalLabel">Estado de la Creación del NFT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="nftStatusMessage">Generando NFT, por favor espere...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generarPDF(form) {
            // Mostrar el modal
            $('#nftModal').modal('show');
        
            // Realizar la solicitud POST para generar el PDF y el NFT
            $.ajax({
                type: form.method,
                url: form.action,
                data: $(form).serialize(),
                success: function(response) {
                    if(response.success) {
                        // Actualizar el mensaje del modal con el ID de la transacción
                        $('#nftStatusMessage').text('NFT creado exitosamente. ID de transacción: ' + response.txid);
                    } else {
                        // Mostrar mensaje de error si la creación del NFT falló
                        $('#nftStatusMessage').text('Error al crear el NFT: ' + response.error);
                    }
                },
                error: function() {
                    // Manejar errores de la solicitud AJAX
                    $('#nftStatusMessage').text('Hubo un error al procesar la solicitud.');
                }
            });
        }
        </script>

    <!-- Scripts de Bootstrap -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>
