<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles/sylespreview.css">
    <title>Previsualización de Datos</title>
</head>
<body>
    <div class="container">
        <h1>Previsualización de Datos</h1>
        <div class="data-preview">
            <div class="data-block">
                <h2>Visualizacion de Datos</h2>
                <div class="field">
                    <label for="nombre">Información personal:</label>
                    <input type="text" id="Info_personalP" readonly>
                </div>
                <div class="field">
                    <label for="apellido">Historial médico:</label>
                    <input type="text" id="Historia_medicoP" readonly>
                </div>
                <div class="field">
                    <label for="fecha-nacimiento">Información de contacto:</label>
                    <input type="text" id="Info_ContactoP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Diagnosticos:</label>
                    <input type="text" id="DiagnosticosP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Tratamientos:</label>
                    <input type="text" id="TratamientosP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Medicos Tratantes:</label>
                    <input type="text" id="MedicosP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Medicamentos: </label>
                    <input type="text" id="MedicamentosP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Datos Vitales:</label>
                    <input type="text" id="Datos_vP" readonly>
                </div>
                <div class="field">
                    <label for="direccion">Datos Socioeconómicos:</label>
                    <input type="text" id="Datos_ssP" readonly>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/script.js"></script>
</body>
</html>
